<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/barebones.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sorts+Mill+Goudy&family=Tilt+Neon&display=swap" rel="stylesheet">
	</head>
	<body>
		<h1>Edit the <%=fish['Species Name']%></h1>

		<form action="/fish/<%=fish._id%>?_method=PUT" method="POST">
			<label for="name"> Species Name:</label>
			<input
				type="text"
				name="Species Name"
				value="<%=fish['Species Name']%>"
			/>

			<label for="location">Location:</label>
			<input type="text" name="Location" value="<%fish.Location%>" />

			<label for="Habitat">Habitat:</label>
			<input type="text" name="Habitat" value="<%fish.Habitat%>" />

			<label for="Population">Population:</label>
			<input type="text" name="Population" value="<%fish.Population%>" />

			<label for="Taste">Taste:</label>
			<input type="text" name="Taste" value="<%fish.Taste%>" />

			<label for="Texture">Texture:</label>
			<input type="text" name="Texture" value="<%fish.Texture%>" />
			<label for="Health Benefits">Health Benefits:</label>
			<input
				type="text"
				name="Health Benefits"
				value="<%fish['Health Benefits']%>"
			/>

			<input type="submit" value="submit change" />
		</form>
	</body>
</html>
