<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Fish</title>
</head>
<body>
    <div class="container">
    <body>
        <h1>New Fish Page</h1>
        <form action="/fish" method="POST">
            Species Name: <input type="text" name="Species Name" /><br/>
            Location: <input type="text" name="Location" /><br/>
            Habitat <input type="text" name="Habitat" /><br/>
            Population <input type="text" name="Population" /><br/>
            Taste <input type="text" name="Taste" /><br/>
            Texture <input type="text" name="Texture" /><br/>
            Health Benefits <input type="text" name="Health Benefits" /><br/>
            Species picture <input type="text" name="Species Illustration Photo"/>
            <input type="submit" value="Play God I guess."/>
        </form>
    </body>
</html>

    </div>
    
</body>
</html>