<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="/barebones.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Sorts+Mill+Goudy&family=Tilt+Neon&display=swap" rel="stylesheet">
	</head>
	<body>
	<h1> Results:</h1><br>
  <% results.forEach(result => { %>
    <ul>
		
		
			
      <li><a href="/fish/<%= result.id;%>"><%=result['Species Name']%></li>
	  <img
					src="<%=result['Species Illustration Photo'][0].src%>"
					class="w3-image w3-round"
					style="width: 100%; max-width: 400px"
				/></a>
			
		
      </ul>

  <% }) %>
</table>
</html>
