* {
  text-decoration: none;
font-family: 'Tilt Neon', cursive;
background-color: rgb(211, 240, 255);

}

body {
background-image: url("https://i.pngimg.me/thumb/f/720/comvecteezy274806.jpg");
  height: 200%;
 
} 
.new-body {
  background-image: url("https://i.pngimg.me/thumb/f/720/comvecteezy274806.jpg");
    height: 200%;
   
  } 
img {
size: 20%;
}
nav {
  text-align: right;
}
h1 {
  font-family: 'Tilt Neon', cursive;
  color: black;
}
.search {
  padding-left: 56%;
  padding-top: 1%;
}
.new-fish {
padding-left: 22%;
padding-top: 2%;

}
form {
  padding-bottom: 2%;
}
.edit-form {
  padding-top: 2%;
  padding-left: 2%;
}

.index-h1 {
color: rgb(42, 103, 226);
}
